[submodule "projects/ImageCluster"]
	path = projects/ImageCluster
	url = https://github.com/nasa-nccs-hpda/ImageCluster
[submodule "projects/eo-validation"]
	path = projects/eo-validation
	url = https://github.com/nasa-nccs-hpda/eo-validation
